{% extends 'templates/base.html' %}
{% block javascript %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('assets', path='js/root/generate.js') }}"></script>
{% endblock %}

{% block content %}
{% include 'templates/nav.html' %}

<div class="container mt-4">
    <h2>Welcome to the Root Administrator Dashboard</h2>

    <div class="alert alert-danger errors-block" id="errors-block"></div>
    <div class="alert alert-success success-block" id="success-block"></div>
    <div class="alert alert-info waiting-block" id="waiting-block"></div>

    <div class="mb-1">
        <strong>Generate example data</strong>
    </div>
    <div class="form mb-5">

        <form method="post" onsubmit="rootGenerateWebsiteData(); return false;">
            <input type="submit" class="btn btn-primary" name="submit" value="Generate Data" />
        </form>
    </div>

    <h3>Generated data</h3>
    {% if data and data|length > 0 %}
    {% for item in data %}
    <div class="root-professor-course-block mb-4">
        <h4>Professor: {{ item.professor.firstname }} {{ item.professor.lastname }} ({{ item.professor.email }})</h4>
        <div>
            <div><strong>Courses:</strong></div>
            {% if item.courses and item.courses|length > 0 %}
            {% for course in item.courses %}
            <div class="root-dashboard-generated-course-block">
                <div>
                    <em><u>Course name</u></em>
                </div>
                <div class="course-name">
                    {{ course.course.course_number }} - {{ course.course.course_title }} [{{ course.course.course }}]
                </div>
                <div>
                    <em><u>Students:</u></em>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#id</th>
                        <th scope="col">Firstname</th>
                        <th scope="col">Lastname</th>
                        <th scope="col">email</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if course.students and course.students|length > 0 %}
                    {% for student in course.students %}
                    <tr>
                        <td width="25px">#{{ student.id }}</td>
                        <td>{{ student.firstname }}</td>
                        <td>{{ student.lastname }}</td>
                        <td>{{ student.email }})</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr>
                        <td colspan="4"><em>No students generated</em></td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% endblock %}