{% extends 'templates/base.html' %}
{% block content %}

{% include 'templates/nav.html' %}

<h2>Welcome to your course: {{ course.course_number }} - {{ course.course_title }}</h2>

<a href="/teacher/course/{{ course.id }}/access_code">Access Code</a>

<h3>Registered Students</h3>
<table border="1px">
    <tr>
        <th width="5%"># <input type="checkbox" /></th>
        <th>Student Name</th>
    </tr>
    {% if students %}
    {% for student in students %}
    <tr>
        <td align="center"><input type="checkbox" /></td>
        <td>{{ student.firstname }} {{ student.lastname }}</td>
    </tr>
    {% endfor %}
    {% else %}
    <tr>
        <td colspan="3"><em>No users registered</em></td>
    </tr>
    {% endif %}
    <tr>
        <td colspan="3"><button onclick="alert('not implemented')">Generate Attendance Report</button></td>
    </tr>
</table>

{% endblock %}