{% extends 'templates/auth.html' %}
{% block header_js %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('assets', path='js/auth/login.js') }}"></script>

{% endblock %}
{% block content %}
    <div class="form">
        <div class="errors-block" id="errors-block"></div>
        <div class="success-block" id="success-block"></div>
        <div class="waiting-block" id="waiting-block"></div>
        <form method="post" onsubmit="return attemptLogin();">
            <div>
                <label id="email" for="email">stlcc email</label>
                <input type="text" name="email" value="{{ email }}" />
            </div>
            <div>
                <label id="password" for="password">stlcc password</label>
                <input type="password" name="password" value="{{ pw }}" />
            </div>
            <input type="submit" name="submit" value="Login" />
        </form>
    </div>
{% endblock %}