/* Contributors: Lamonte, Mike */

.errors-block,
.success-block,
.waiting-block {
    display: none;
    margin-bottom: 10px;
}

.root-professor-course-block {
    margin-bottom: 10px;
    padding-bottom: 20px;
}

.root-dashboard-generated-course-block {
    margin-bottom: 25px;
}

.root-dashboard-generated-course-block .course-name {
    margin-bottom: 3px;
}

.debugger-container {
    margin: 10px 0 10px 0;
    padding: 0 5px 5px 5px;
    border: 1px solid black;
    max-width: 750px;
}