<!DOCTYPE html>
<html>
<head>
    <title>School Project</title>
    <script type="text/javascript" src="{{ url_for('assets', path='js/example.js') }}"></script>
</head>
<body>
    <div>
        <ul>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
    <p>This file was loaded using jinja</p>

    <ul>
    {% for item in data %}
        <li>{{item.name}}</li>
        <li>{{item.age}}</li>
    {% endfor %}
    </ul>

    <button onclick="alertSomething()">Alert something</button>
</body>
</html>